* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #b38c94;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 980px;
  margin: auto;
}

.block {
  height: 150px;
  margin: 10px;
  width: 150px;
}

.outer {
  border: 4px solid #37505C;
  margin: 10px;
  border-radius: 5px;
  background-color: #FFEAD0;
}

.block img {
  width: 100%;
  filter: grayscale(80%);
}

.block:hover img {  
  filter: none;
}

.black {
  background-color: #37505C;
}

.red {
  background-color: #a32828;
}

.green {
  background-color: #2c752c;
}

.blue {
  background-color: #393998;
}

.yellow {
  background-color: #c4c463;
}

.purple {
  background-color: #6d3b6d;
}
